<ion-header>
    <ion-toolbar>
        <ion-title>user</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="cards-bg social-cards">
    <ion-card>
        <ion-item>
            <ion-avatar class="item" item-start size="large">
                <img src="assets/register.png" alt="register">
            </ion-avatar>
            <h2>Pepito Perez</h2>
        </ion-item>

        <img src="assets/logo.png" alt="logo" />

        <ion-card-content>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, est repudiandae molestias numquam incidunt iusto, doloribus cupiditate similique temporibus tempore rem corrupti iure, illum nisi reiciendis esse hic fuga veniam!
            </p>
        </ion-card-content>

        <ion-row>
            <ion-col class="ion-col">
                <button ion-button color="primary" clear block icon-start>
        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>
            </ion-col>
            <ion-col class="ion-col">
                <button ion-button size="large" color="primary" clear icon-start>
        <ion-icon name="build"></ion-icon>
        Edit
      </button>
            </ion-col>
            <ion-col class="ion-col" align-self-center text-center>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>

<style>
    .social-cards .ion-col {
        padding: 0;
    }
</style>