.title {
    color: #55acee;
    text-align: center;
}

.text-justify {
    text-align: justify;
}

ion-item {
    display: flex;
    justify-content: space-between;
}

.ion-text-right {
    text-align: right;
}