<ion-header>
    <ion-toolbar>
        <ion-title>About</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>

        <ion-row class="ion-justify-content-center">
            <img src="assets/logo.png" width="200px" />
        </ion-row>

        <ion-card-content>
            <div class="title">
                <ion-card-title class="title">
                    HOME INVENTORY
                </ion-card-title>
            </div>
            <p class="text-justify">
                HOME INVENTORY es una aplicación híbrida desarrollada en ionic, su función es encargarse de la gestión del inventario de los productos a comprar, contiene dos listas, una con el inventario de los productos que tienen en el hogar, y otra con el lista de
                los productos que se necesitan.
            </p>
        </ion-card-content>
        <div class="title">
            <p>Desarrollado por:</p>
        </div>
        <ion-item>
            <ion-icon name="caret-forward-outline" item-start style="color: #55acee"></ion-icon>
            Fabian Cristancho
            <!-- <ion-badge item-end> Scrum Master</ion-badge> -->
        </ion-item>

        <ion-item>
            <ion-icon name="caret-forward-outline" item-start style="color: #55acee"></ion-icon>
            Luis Torres
            <!-- <ion-badge item-end> Dev</ion-badge> -->
        </ion-item>
        <ion-item>
            <ion-icon name="caret-forward-outline" item-start style="color: #55acee"></ion-icon>
            Oscar Quiroz
            <!-- <ion-badge item-end> Dev</ion-badge> -->
        </ion-item>
        <ion-item>
            <ion-icon name="caret-forward-outline" item-start style="color: #55acee"></ion-icon>
            David Uriza
            <!-- <ion-badge item-end> DB</ion-badge> -->
        </ion-item>
        <ion-item>
            <ion-icon name="caret-forward-outline" item-start style="color: #55acee"></ion-icon>
            Ferney Niño
            <!-- <ion-badge item-end> DB</ion-badge> -->
        </ion-item>
    </ion-card>
</ion-content>